$corBase: #3B5998;
$corFontePrincipal: #1D2129;
$corFonteDestaque:#FFFFFF;
$corFonteLink: #365899;
$corFundo: #E9EBEE; 
$corBorda: #CCC;
$corFundoBoxes: #FFFFFF;
$tamanhoFonte: 12px;
$familiaFonte: helvetica,arial,sans-serif;


body{
	margin: 0;
	padding: 0;
	background-color: $corFundo;
}

.cabecalho{
	height: 45px;
	background-color: $corBase;
	border-bottom: 1px solid #29487D;
}
.conteudo{
	min-height: 600px;
	display: flex;
	justify-content: space-between;
}
.conteudoPrincipal{
	display: flex;
	justify-content: center;
	width: 100%;
}

.conteudoPrincipal > div{
	display: flex;
	margin: 10px;
}

.informacoesConta{
	width: 180px;
}

.feedNoticias{
	width: 500px;
}

.outrasInformacoes{
	width: 310px;
}

[class*="box"]{
	background-color: $corFundoBoxes;
	border-radius: 3px;
	border: 1px solid $corBorda;
	margin: 0px 10px 10px 0;
}

.boxInicial{
	height: 150px;
}

.boxPublicacao{
	height: 500px;
}

.boxInfo{
	height: 370px;
}

.boxIdiomas{
	height: 55px;
}

.sideBar{
	width: 200px;
	border-left: 1px solid $corBorda;
}